.home__mainf-section {
  background-color: #ffffff;
  color:#1c2237;
  padding: 80px 10px 10px 10px;
  min-height: 100vh;
  border-left: 1px solid #707070;
 
}

.home__mainpf-row {
  align-items: center;
}

.rowf {
  display: flex;
  margin:20px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.colf {
margin-bottom: 15px;
padding-right: 15px;
padding-left: 15px;
/* justify-content: center; */
max-width: 100%;
/* flex-basis: 100%; */
}

.home__mainp-text-wrapper {
  max-width: 540px;
  min-width: 250px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.headingf {
  margin-bottom: 15px;
  margin-top: 30px;
  margin-left: 60px; 
  font-size: 30px;
  line-height: 1.1;
  font-weight: 600;
  color:#1c2237;
}
.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #ffffff;
}
.home__mainp-subtitle {
  max-width: 80%;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}
.makeStyles-paragraph-7 {
  color: #1c2237;
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .containerf {
    padding-right: 30px;
    padding-left: 30px;
    justify-content: center;
  }
  .headingf {
    text-align: center;
    font-size: 24px;
    margin-left: 0px;  
    justify-content: 'center';
    align-items: center;
  }
  .colf {
    max-width: 100%;
    flex-basis: 100%;
    margin-left: 0px;  
    justify-content: 'center';
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .home__mainf-text-wrapper {
    padding-bottom: 65px;
    margin-left: 0px;  
    justify-content: 'center';
    align-items: center;
  }
.headingf {
  text-align: center;
  font-size: 24px;
  margin-left: 0px;  
  justify-content: 'center';
  align-items: center;
}
  .colf {
    max-width: 100%;
    flex-basis: 100%;
    margin-left: 0px;  
    justify-content: 'center';
    align-items: center;
  }
}
