
.home__main-section {
  background-color: #f7f8fa;
  color: #fff;
  
  padding: 120px 0px 0px 0px;
}
.home__main-row {
  align-items: center;
}
.row {
  display: flex; 
  margin-right: 5px;
  margin-bottom: -15px;
  margin-left: 15px;
 
  flex-wrap: wrap; 
  align-content: stretch;
  justify-content: space-around;
}
.col {
margin-bottom: 15px;
display: flex;
justify-content: space-around;
max-width: 100%;
}
  
  .home__main-text-wrapper {
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 60px;
  }
  
  .top-line {
    color: #f00946;
    font-size: 28px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  
  .heading {
    margin-top: 10px;
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 1.1;
    font-weight: 550;
    color: #f7f8fa;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1c2237;
  }
  
  .home__main-subtitle {
    max-width: 400px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 28px;
  }
  
  .home__main-img-wrapper {
    max-width: 350px;
  }
  
  .home__main-img {
    max-width: 92%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 95%;
    vertical-align: middle;
    display: inline-block;
  }
  
 
  @media screen and (max-width: 1024px) {

   
    .home__main-section {
      padding: 150px 0px 0px 0px;
      justify-content: center;
      align-items: center;
    }
    .top-line {
      
      font-size: 26px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 16px;
      transform: translate(0%,0%);
      text-align: center;
      justify-content: center;
    }
    .heading {
      
      font-size: 24px;
      line-height: 1.1;
      font-weight: 500;
      text-align: center;
      justify-content: center;
    }
    .home__main-subtitle {
      max-width: 987px;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 26px;
     transform: translate(0%,0%);
     text-align: center;
     justify-content: center;
    }
  
    .home__main-text-wrapper {
      padding-bottom: 25px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
     
    
    }
    .home__main-section {
      background-color: #f7f8fa;
      color: #fff;
      padding: 50px 0px;
  }
  }


  
  @media screen and (max-width: 700px) {
    .mobile-home{
      background-color: #1c2237;
      border: none !important;
      height: 50vh;
    }
    .mobile-home{

      height: 40vh;
    }
    
    .home__main-text-wrapper {
      max-width: 625px;
      padding-top: 10px;
      padding-bottom: 60px;
    }
    .home__main-section {
     
      justify-content: center;
      align-items: center;
      padding: 100px 10px 0px 10px;
    }
    .top-line {
      
      font-size: 26px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 16px;
      transform: translate(0%,0%);
      text-align: center;
      justify-content: center;
    }
    .heading {
      
      font-size: 24px;
      line-height: 1.1;
      font-weight: 500;
      text-align: center;
      justify-content: center;
    }
    .home__main-subtitle {
      max-width: 987px;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 26px;
     transform: translate(0%,0%);
     text-align: center;
     justify-content: center;
    }
  
    .home__main-text-wrapper {
      padding-bottom: 25px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
     
   
    }
    .home__main-section {
      background-color: #f7f8fa;
      color: #fff;
      
  }
  }
  @media screen and (max-width: 764px) {
  
    .home__main-section {
      padding: 130px 10px 20px 10px;
      justify-content: center;
      align-items: center;
    }
    .top-line {
      
      font-size: 26px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 16px;
     
      text-align: center;
      justify-content: center;
    }
    .heading {
      
      font-size: 24px;
      line-height: 1.1;
      font-weight: 550;
      text-align: center;
      justify-content: center;
    }
    .home__main-subtitle {
      max-width: 987px;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 26px;
   
     text-align: center;
     justify-content: center;
    }
  
    .home__main-text-wrapper {
      padding-bottom: 25px;
    }
  

  }

  

  @media screen and (max-width: 320px) {
  
    .home__main-subtitle {
      
      font-size: 14px;}
  }