@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@300&display=swap');
/* @import "react-alice-carousel/lib/alice-carousel.css";
@import "react-alice-carousel/lib/scss/alice-carousel.scss"; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.box {
  width:40.5%;

  height: 100px;
  /* background: red; */
  color: white;
}

#one {
  position: fixed;
  top: 80px;
  left: 0px;
  /* background: blue; */
}

.outer {
  width: 100%;
  height: 100%;
  /* overflow: scroll; */
  padding-left:40.5%;
}

@media screen and (max-width: 700px) {

  .box {
    width:100%;
  
    height: 100px;
    /* background: red; */
    color: white;
  }

  .outer {
    width: 100%;
    height: 100%;
    overflow: scroll; 
    padding-left:0;
  }
  
}