@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@300&display=swap');
/* @import "react-alice-carousel/lib/alice-carousel.css";
@import "react-alice-carousel/lib/scss/alice-carousel.scss"; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.box {
  width:28.5%;

  height: 99%;
  /* background: red; */
 
}

#one {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: top 1.5s;
  /* background: blue; */
}
#one-down {
  position: fixed;
  top: 80px;
  left: 0px;
  transition: top 1.5s;
  /* background: blue; */
}
.outer {
  width: 100%;
  height: 100%;
  /* overflow: scroll; */
  padding-left:28.5%;
}

@media screen and (max-width: 700px) {

  .box {
    width:100%;
 
    height: 100vh;
    /* background: red; */
    /* color: white; */
  }
  #one {
    position: relative;
    top: 0px;
    left: 0px;
    /* background: blue;  */
  }
  #one-down {
    position: relative;
    top: 80px;
    left: 0px;
    /* background: blue; */
  }
  .outer {
    width: 100%;
    height: 100%;
    overflow: scroll; 
    padding-left:0;
  
  }
  
}
@media screen and (max-width: 450px) {
  .box {
    width:100%;
 
    height: 100vh;
  
  }
}