@font-face {
  font-family: 'Inter';
  src: local('Inter.var'), url(./fonts/Inter.ttf) format('truetype');
}
  body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* code {
  font-family: 'Inter';
} */
